In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from path import Path

### Import Data

In [2]:
# Read tornadoes csv into DataFrame
file_path = Path('Raw_Data/1950-2020_torn.csv')
tornadoes_df = pd.read_csv(file_path, index_col=0)
tornadoes_df

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
surr_key,,,,,,,,,,,,,,,,,,,,,
1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,23,...,15.80,10,1,1,1,25,0,0,0,0
2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,9,...,2.00,880,1,1,1,47,0,0,0,0
3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,1,...,0.10,10,1,1,1,177,0,0,0,0
4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,2,...,0.10,10,1,1,1,209,0,0,0,0
5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,14,...,2.00,37,1,1,1,101,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67500,619522,2020,9,1,9/1/2020,18:10:00,3,TX,48,0,...,0.01,30,1,1,1,191,0,0,0,0
67501,619523,2020,9,3,9/3/2020,15:57:00,3,MD,24,0,...,6.05,100,1,1,1,3,0,0,0,0
67502,619524,2020,9,5,9/5/2020,16:17:00,3,CA,6,0,...,12.02,50,1,1,1,39,0,0,0,0
67503,619525,2020,9,5,9/5/2020,18:29:00,3,CA,6,0,...,1.12,25,1,1,1,19,0,0,0,0
67504,619526,2020,9,7,9/7/2020,15:14:00,3,OH,39,0,...,3.21,150,1,1,1,41,0,0,0,0

### Clean the whole dataset

In [3]:
tornadoes_df.dtypes

om         int64
yr         int64
mo         int64
dy         int64
date      object
time      object
tz         int64
st        object
stf        int64
stn        int64
f          int64
inj        int64
fat        int64
loss     float64
closs    float64
slat     float64
slon     float64
elat     float64
elon     float64
len      float64
wid        int64
ns         int64
sn         int64
sg         int64
f1         int64
f2         int64
f3         int64
f4         int64
fc         int64
dtype: object

In [4]:
tornadoes_df["datetime"] = tornadoes_df.date.str.cat(tornadoes_df.time, sep=' ')

tornadoes_df

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,datetime
surr_key,,,,,,,,,,,,,,,,,,,,,
1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,23,...,10,1,1,1,25,0,0,0,0,10/1/1950 21:00:00
2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,9,...,880,1,1,1,47,0,0,0,0,10/9/1950 2:15:00
3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,1,...,10,1,1,1,177,0,0,0,0,11/20/1950 2:20:00
4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,2,...,10,1,1,1,209,0,0,0,0,11/20/1950 4:00:00
5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,14,...,37,1,1,1,101,0,0,0,0,11/20/1950 7:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67500,619522,2020,9,1,9/1/2020,18:10:00,3,TX,48,0,...,30,1,1,1,191,0,0,0,0,9/1/2020 18:10:00
67501,619523,2020,9,3,9/3/2020,15:57:00,3,MD,24,0,...,100,1,1,1,3,0,0,0,0,9/3/2020 15:57:00
67502,619524,2020,9,5,9/5/2020,16:17:00,3,CA,6,0,...,50,1,1,1,39,0,0,0,0,9/5/2020 16:17:00
67503,619525,2020,9,5,9/5/2020,18:29:00,3,CA,6,0,...,25,1,1,1,19,0,0,0,0,9/5/2020 18:29:00
67504,619526,2020,9,7,9/7/2020,15:14:00,3,OH,39,0,...,150,1,1,1,41,0,0,0,0,9/7/2020 15:14:00

In [5]:
# convert date and time to datetime dtype
tornadoes_df["datetime"] = pd.to_datetime(tornadoes_df["datetime"])

In [6]:
# Check dtypes
tornadoes_df.dtypes

om                   int64
yr                   int64
mo                   int64
dy                   int64
date                object
time                object
tz                   int64
st                  object
stf                  int64
stn                  int64
f                    int64
inj                  int64
fat                  int64
loss               float64
closs              float64
slat               float64
slon               float64
elat               float64
elon               float64
len                float64
wid                  int64
ns                   int64
sn                   int64
sg                   int64
f1                   int64
f2                   int64
f3                   int64
f4                   int64
fc                   int64
datetime    datetime64[ns]
dtype: object

In [7]:
# Sort DF by Year then State
tornadoes_df.sort_values(by=['yr','mo','st'])

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,datetime
surr_key,,,,,,,,,,,,,,,,,,,,,
11,4,1950,1,13,1/13/1950,5:25:00,3,AR,5,1,...,17,1,1,1,113,0,0,0,0,1950-01-13 05:25:00
13,6,1950,1,25,1/25/1950,21:00:00,3,IL,17,3,...,100,1,1,1,91,0,0,0,0,1950-01-25 21:00:00
17,1,1950,1,3,1/3/1950,11:10:00,3,IL,17,1,...,100,2,1,2,119,0,0,0,0,1950-01-03 11:10:00
18,2,1950,1,3,1/3/1950,11:55:00,3,IL,17,2,...,130,1,1,1,135,0,0,0,0,1950-01-03 11:55:00
12,5,1950,1,25,1/25/1950,19:30:00,3,MO,29,2,...,300,1,1,1,93,0,0,0,0,1950-01-25 19:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66438,619601,2020,12,23,12/23/2020,15:54:00,3,TX,48,0,...,20,1,1,1,351,0,0,0,0,2020-12-23 15:54:00
66439,619602,2020,12,23,12/23/2020,18:59:00,3,TX,48,0,...,45,1,1,1,241,0,0,0,0,2020-12-23 18:59:00
66460,619623,2020,12,30,12/30/2020,10:41:00,3,TX,48,0,...,75,1,1,1,349,0,0,0,0,2020-12-30 10:41:00
66458,619621,2020,12,24,12/24/2020,22:21:00,3,VA,51,0,...,150,1,1,1,800,0,0,0,0,2020-12-24 22:21:00
66459,619622,2020,12,24,12/24/2020,22:28:00,3,VA,51,0,...,200,1,1,1,800,0,0,0,0,2020-12-24 22:28:00

In [8]:
# Filter out any bad data (ie 0<=EF<=5)
tornadoes_clean = tornadoes_df[ (tornadoes_df['f'] >= 0) & ( tornadoes_df["f"] <= 5)]
tornadoes_clean

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,datetime
surr_key,,,,,,,,,,,,,,,,,,,,,
1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,23,...,10,1,1,1,25,0,0,0,0,1950-10-01 21:00:00
2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,9,...,880,1,1,1,47,0,0,0,0,1950-10-09 02:15:00
3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,1,...,10,1,1,1,177,0,0,0,0,1950-11-20 02:20:00
4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,2,...,10,1,1,1,209,0,0,0,0,1950-11-20 04:00:00
5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,14,...,37,1,1,1,101,0,0,0,0,1950-11-20 07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67499,619521,2020,9,1,9/1/2020,16:24:00,3,TN,47,0,...,50,1,1,1,95,0,0,0,0,2020-09-01 16:24:00
67501,619523,2020,9,3,9/3/2020,15:57:00,3,MD,24,0,...,100,1,1,1,3,0,0,0,0,2020-09-03 15:57:00
67502,619524,2020,9,5,9/5/2020,16:17:00,3,CA,6,0,...,50,1,1,1,39,0,0,0,0,2020-09-05 16:17:00
67503,619525,2020,9,5,9/5/2020,18:29:00,3,CA,6,0,...,25,1,1,1,19,0,0,0,0,2020-09-05 18:29:00
67504,619526,2020,9,7,9/7/2020,15:14:00,3,OH,39,0,...,150,1,1,1,41,0,0,0,0,2020-09-07 15:14:00

In [9]:
# Filter for Lower 48 (exclude PR, VI, HI, AK)
tornadoes_clean = tornadoes_clean[tornadoes_clean['st'] != 'PR']
tornadoes_clean = tornadoes_clean[tornadoes_clean['st'] != 'VI']
tornadoes_clean = tornadoes_clean[tornadoes_clean['st'] != 'HI']
tornadoes_clean = tornadoes_clean[tornadoes_clean['st'] != 'AK']
tornadoes_clean

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,datetime
surr_key,,,,,,,,,,,,,,,,,,,,,
1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,23,...,10,1,1,1,25,0,0,0,0,1950-10-01 21:00:00
2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,9,...,880,1,1,1,47,0,0,0,0,1950-10-09 02:15:00
3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,1,...,10,1,1,1,177,0,0,0,0,1950-11-20 02:20:00
4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,2,...,10,1,1,1,209,0,0,0,0,1950-11-20 04:00:00
5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,14,...,37,1,1,1,101,0,0,0,0,1950-11-20 07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67499,619521,2020,9,1,9/1/2020,16:24:00,3,TN,47,0,...,50,1,1,1,95,0,0,0,0,2020-09-01 16:24:00
67501,619523,2020,9,3,9/3/2020,15:57:00,3,MD,24,0,...,100,1,1,1,3,0,0,0,0,2020-09-03 15:57:00
67502,619524,2020,9,5,9/5/2020,16:17:00,3,CA,6,0,...,50,1,1,1,39,0,0,0,0,2020-09-05 16:17:00
67503,619525,2020,9,5,9/5/2020,18:29:00,3,CA,6,0,...,25,1,1,1,19,0,0,0,0,2020-09-05 18:29:00
67504,619526,2020,9,7,9/7/2020,15:14:00,3,OH,39,0,...,150,1,1,1,41,0,0,0,0,2020-09-07 15:14:00

In [10]:
# Investigate closs
tornadoes_clean["closs"].value_counts()

0.000       66144
0.010          88
0.005          75
0.001          49
0.002          45
            ...
0.018           1
1.900           1
1.050           1
0.800           1
1500.000        1
Name: closs, Length: 144, dtype: int64

In [11]:
# Replace loss and closs 0 with NaN ( 0 means no data avaliable NOT $0 in loss)
tornadoes_clean['closs']=tornadoes_clean['closs'].replace(0, np.nan)
tornadoes_clean['loss']=tornadoes_clean['loss'].replace(0, np.nan)
tornadoes_clean

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,datetime
surr_key,,,,,,,,,,,,,,,,,,,,,
1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,23,...,10,1,1,1,25,0,0,0,0,1950-10-01 21:00:00
2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,9,...,880,1,1,1,47,0,0,0,0,1950-10-09 02:15:00
3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,1,...,10,1,1,1,177,0,0,0,0,1950-11-20 02:20:00
4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,2,...,10,1,1,1,209,0,0,0,0,1950-11-20 04:00:00
5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,14,...,37,1,1,1,101,0,0,0,0,1950-11-20 07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67499,619521,2020,9,1,9/1/2020,16:24:00,3,TN,47,0,...,50,1,1,1,95,0,0,0,0,2020-09-01 16:24:00
67501,619523,2020,9,3,9/3/2020,15:57:00,3,MD,24,0,...,100,1,1,1,3,0,0,0,0,2020-09-03 15:57:00
67502,619524,2020,9,5,9/5/2020,16:17:00,3,CA,6,0,...,50,1,1,1,39,0,0,0,0,2020-09-05 16:17:00
67503,619525,2020,9,5,9/5/2020,18:29:00,3,CA,6,0,...,25,1,1,1,19,0,0,0,0,2020-09-05 18:29:00
67504,619526,2020,9,7,9/7/2020,15:14:00,3,OH,39,0,...,150,1,1,1,41,0,0,0,0,2020-09-07 15:14:00

In [12]:
# Starting in 2016 the loss data is in whole dollar amounts need to convert rows with years prior to 2016 to whole dollar
# original loss and closs were in millions of dollars
# Multiply loss and closs by $1,000,000 to get whole number values
loss = tornadoes_clean.loc[tornadoes_clean["yr"]<2016]
loss

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,datetime
surr_key,,,,,,,,,,,,,,,,,,,,,
1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,23,...,10,1,1,1,25,0,0,0,0,1950-10-01 21:00:00
2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,9,...,880,1,1,1,47,0,0,0,0,1950-10-09 02:15:00
3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,1,...,10,1,1,1,177,0,0,0,0,1950-11-20 02:20:00
4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,2,...,10,1,1,1,209,0,0,0,0,1950-11-20 04:00:00
5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,14,...,37,1,1,1,101,0,0,0,0,1950-11-20 07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61213,601870,2015,9,26,9/26/2015,14:48:00,3,TX,48,0,...,50,1,1,1,249,0,0,0,0,2015-09-26 14:48:00
61214,598567,2015,9,29,9/29/2015,8:00:00,3,FL,12,0,...,10,1,1,1,21,0,0,0,0,2015-09-29 08:00:00
61215,599512,2015,9,29,9/29/2015,20:02:00,3,MD,24,0,...,75,1,1,1,33,27,0,0,0,2015-09-29 20:02:00
61216,597478,2015,9,29,9/29/2015,22:40:00,3,PA,42,0,...,75,1,1,1,71,0,0,0,0,2015-09-29 22:40:00
61217,602890,2015,9,8,9/8/2015,13:47:00,3,MI,26,0,...,75,1,1,1,129,0,0,0,0,2015-09-08 13:47:00

In [13]:
loss["loss"] = loss["loss"]*1000000
loss["closs"] = loss["closs"]*1000000
loss

C:\Users\Nat\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Nat\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,datetime
surr_key,,,,,,,,,,,,,,,,,,,,,
1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,23,...,10,1,1,1,25,0,0,0,0,1950-10-01 21:00:00
2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,9,...,880,1,1,1,47,0,0,0,0,1950-10-09 02:15:00
3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,1,...,10,1,1,1,177,0,0,0,0,1950-11-20 02:20:00
4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,2,...,10,1,1,1,209,0,0,0,0,1950-11-20 04:00:00
5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,14,...,37,1,1,1,101,0,0,0,0,1950-11-20 07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61213,601870,2015,9,26,9/26/2015,14:48:00,3,TX,48,0,...,50,1,1,1,249,0,0,0,0,2015-09-26 14:48:00
61214,598567,2015,9,29,9/29/2015,8:00:00,3,FL,12,0,...,10,1,1,1,21,0,0,0,0,2015-09-29 08:00:00
61215,599512,2015,9,29,9/29/2015,20:02:00,3,MD,24,0,...,75,1,1,1,33,27,0,0,0,2015-09-29 20:02:00
61216,597478,2015,9,29,9/29/2015,22:40:00,3,PA,42,0,...,75,1,1,1,71,0,0,0,0,2015-09-29 22:40:00
61217,602890,2015,9,8,9/8/2015,13:47:00,3,MI,26,0,...,75,1,1,1,129,0,0,0,0,2015-09-08 13:47:00

In [14]:
# drop all rows in tor_EF between 2008-2015
tornadoes_clean_2016_2020 = tornadoes_clean[tornadoes_clean["yr"] >= 2016]
tornadoes_clean_2016_2020

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,datetime
surr_key,,,,,,,,,,,,,,,,,,,,,
61218,614398,2016,10,12,10/12/2016,16:26:00,3,IN,18,0,...,30,1,1,1,141,0,0,0,0,2016-10-12 16:26:00
61219,614399,2016,10,12,10/12/2016,16:30:00,3,IN,18,0,...,40,1,1,1,141,0,0,0,0,2016-10-12 16:30:00
61220,614400,2016,10,14,10/14/2016,9:18:00,3,OR,41,0,...,225,1,1,1,57,0,0,0,0,2016-10-14 09:18:00
61222,614382,2016,10,4,10/4/2016,16:32:00,3,KS,20,0,...,40,1,1,1,143,0,0,0,0,2016-10-04 16:32:00
61223,614383,2016,10,4,10/4/2016,17:27:00,3,KS,20,0,...,75,1,1,1,27,0,0,0,0,2016-10-04 17:27:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67499,619521,2020,9,1,9/1/2020,16:24:00,3,TN,47,0,...,50,1,1,1,95,0,0,0,0,2020-09-01 16:24:00
67501,619523,2020,9,3,9/3/2020,15:57:00,3,MD,24,0,...,100,1,1,1,3,0,0,0,0,2020-09-03 15:57:00
67502,619524,2020,9,5,9/5/2020,16:17:00,3,CA,6,0,...,50,1,1,1,39,0,0,0,0,2020-09-05 16:17:00
67503,619525,2020,9,5,9/5/2020,18:29:00,3,CA,6,0,...,25,1,1,1,19,0,0,0,0,2020-09-05 18:29:00
67504,619526,2020,9,7,9/7/2020,15:14:00,3,OH,39,0,...,150,1,1,1,41,0,0,0,0,2020-09-07 15:14:00

In [15]:
tornadoes_clean = loss.append(tornadoes_clean_2016_2020)
tornadoes_clean

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,datetime
surr_key,,,,,,,,,,,,,,,,,,,,,
1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,23,...,10,1,1,1,25,0,0,0,0,1950-10-01 21:00:00
2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,9,...,880,1,1,1,47,0,0,0,0,1950-10-09 02:15:00
3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,1,...,10,1,1,1,177,0,0,0,0,1950-11-20 02:20:00
4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,2,...,10,1,1,1,209,0,0,0,0,1950-11-20 04:00:00
5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,14,...,37,1,1,1,101,0,0,0,0,1950-11-20 07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67499,619521,2020,9,1,9/1/2020,16:24:00,3,TN,47,0,...,50,1,1,1,95,0,0,0,0,2020-09-01 16:24:00
67501,619523,2020,9,3,9/3/2020,15:57:00,3,MD,24,0,...,100,1,1,1,3,0,0,0,0,2020-09-03 15:57:00
67502,619524,2020,9,5,9/5/2020,16:17:00,3,CA,6,0,...,50,1,1,1,39,0,0,0,0,2020-09-05 16:17:00
67503,619525,2020,9,5,9/5/2020,18:29:00,3,CA,6,0,...,25,1,1,1,19,0,0,0,0,2020-09-05 18:29:00
67504,619526,2020,9,7,9/7/2020,15:14:00,3,OH,39,0,...,150,1,1,1,41,0,0,0,0,2020-09-07 15:14:00

In [16]:
tornadoes_clean.reset_index()

,surr_key,om,yr,mo,dy,date,time,tz,st,stf,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,datetime
0,1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,...,10,1,1,1,25,0,0,0,0,1950-10-01 21:00:00
1,2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,...,880,1,1,1,47,0,0,0,0,1950-10-09 02:15:00
2,3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,...,10,1,1,1,177,0,0,0,0,1950-11-20 02:20:00
3,4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,...,10,1,1,1,209,0,0,0,0,1950-11-20 04:00:00
4,5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,...,37,1,1,1,101,0,0,0,0,1950-11-20 07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67019,67499,619521,2020,9,1,9/1/2020,16:24:00,3,TN,47,...,50,1,1,1,95,0,0,0,0,2020-09-01 16:24:00
67020,67501,619523,2020,9,3,9/3/2020,15:57:00,3,MD,24,...,100,1,1,1,3,0,0,0,0,2020-09-03 15:57:00
67021,67502,619524,2020,9,5,9/5/2020,16:17:00,3,CA,6,...,50,1,1,1,39,0,0,0,0,2020-09-05 16:17:00
67022,67503,619525,2020,9,5,9/5/2020,18:29:00,3,CA,6,...,25,1,1,1,19,0,0,0,0,2020-09-05 18:29:00
67023,67504,619526,2020,9,7,9/7/2020,15:14:00,3,OH,39,...,150,1,1,1,41,0,0,0,0,2020-09-07 15:14:00

In [17]:
tornadoes_clean.columns

Index(['om', 'yr', 'mo', 'dy', 'date', 'time', 'tz', 'st', 'stf', 'stn', 'f',
       'inj', 'fat', 'loss', 'closs', 'slat', 'slon', 'elat', 'elon', 'len',
       'wid', 'ns', 'sn', 'sg', 'f1', 'f2', 'f3', 'f4', 'fc', 'datetime'],
      dtype='object')

### Export cleaned data for for years needed 2008-2020 (EF scale tornado ratings)

In [18]:
# Delete columns we dont need
tornadoes_df_clean = tornadoes_clean.drop( ['om', 'date', 'time', 'tz', 'stf', 'stn', 'ns', 'sn', 'sg', 'f1', 'f2', 'f3', 'f4', 'fc'], axis =1)
tornadoes_df_clean

,yr,mo,dy,st,f,inj,fat,loss,closs,slat,slon,elat,elon,len,wid,datetime
surr_key,,,,,,,,,,,,,,,,
1,1950,10,1,OK,1,0,0,4000000.0,NaN,36.7300,-102.5200,36.8800,-102.3000,15.80,10,1950-10-01 21:00:00
2,1950,10,9,NC,3,3,0,5000000.0,NaN,34.1700,-78.6000,0.0000,0.0000,2.00,880,1950-10-09 02:15:00
3,1950,11,20,KY,2,0,0,5000000.0,NaN,37.3700,-87.2000,0.0000,0.0000,0.10,10,1950-11-20 02:20:00
4,1950,11,20,KY,1,0,0,5000000.0,NaN,38.2000,-84.5000,0.0000,0.0000,0.10,10,1950-11-20 04:00:00
5,1950,11,20,MS,1,3,0,4000000.0,NaN,32.4200,-89.1300,0.0000,0.0000,2.00,37,1950-11-20 07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67499,2020,9,1,TN,0,0,0,NaN,2000.0,36.3290,-89.4981,36.3517,-89.4729,2.10,50,2020-09-01 16:24:00
67501,2020,9,3,MD,0,0,0,1250000.0,NaN,38.9480,-76.5695,38.9233,-76.4615,6.05,100,2020-09-03 15:57:00
67502,2020,9,5,CA,2,0,0,NaN,NaN,37.3500,-119.3400,37.5218,-119.3056,12.02,50,2020-09-05 16:17:00
67503,2020,9,5,CA,1,0,0,NaN,NaN,37.2500,-119.2000,37.2598,-119.1838,1.12,25,2020-09-05 18:29:00
67504,2020,9,7,OH,0,0,0,25000.0,NaN,40.2966,-82.9889,40.2703,-82.9386,3.21,150,2020-09-07 15:14:00

In [19]:
tornadoes_df_clean.columns

Index(['yr', 'mo', 'dy', 'st', 'f', 'inj', 'fat', 'loss', 'closs', 'slat',
       'slon', 'elat', 'elon', 'len', 'wid', 'datetime'],
      dtype='object')

In [20]:
# Rename Columns
tornadoes_df_clean.rename(columns = {"yr":"Year", "mo":"Month","dy":"Day","datetime":"Timestamp","st":"State","f":"EF","inj":"Injuries", "fat":"Fatalities", 
                               "loss":"Loss", "closs":"Crop_Loss","slat":"Start_Lat", "slon":"Start_Lon","elat":"End_Lat","elon":"End_Lon","len":"Length","wid":"Width"}, inplace = True)

In [22]:
# Rearrage columns
col = ['Year', 'Month', 'Day', 'Timestamp', 'State','Start_Lat', 'Start_Lon', 'End_Lat', 'End_Lon', 'EF', 'Injuries', 
       'Fatalities', 'Loss','Crop_Loss','Length','Width']

tornadoes_df_clean = tornadoes_df_clean[col]

In [23]:
# 1950-2020
tornadoes_df_clean.to_csv("Cleaned_Data/1950-2020_tornadoes_cleaned.csv")

In [24]:
# Filter for years 1950-2007 --> F Scale
tornadoes_F = tornadoes_df_clean[tornadoes_df_clean['Year'] < 2008]
tornadoes_F

,Year,Month,Day,Timestamp,State,Start_Lat,Start_Lon,End_Lat,End_Lon,EF,Injuries,Fatalities,Loss,Crop_Loss,Length,Width
surr_key,,,,,,,,,,,,,,,,
1,1950,10,1,1950-10-01 21:00:00,OK,36.73,-102.52,36.88,-102.30,1,0,0,4000000.0,NaN,15.80,10
2,1950,10,9,1950-10-09 02:15:00,NC,34.17,-78.60,0.00,0.00,3,3,0,5000000.0,NaN,2.00,880
3,1950,11,20,1950-11-20 02:20:00,KY,37.37,-87.20,0.00,0.00,2,0,0,5000000.0,NaN,0.10,10
4,1950,11,20,1950-11-20 04:00:00,KY,38.20,-84.50,0.00,0.00,1,0,0,5000000.0,NaN,0.10,10
5,1950,11,20,1950-11-20 07:30:00,MS,32.42,-89.13,0.00,0.00,1,3,0,4000000.0,NaN,2.00,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51188,2007,9,6,2007-09-06 13:45:00,NM,32.65,-108.50,32.61,-108.46,0,0,0,NaN,NaN,3.05,40
51189,2007,9,6,2007-09-06 16:27:00,NE,41.69,-96.50,41.73,-96.48,0,0,0,NaN,NaN,3.16,50
51190,2007,9,6,2007-09-06 17:28:00,IL,39.95,-89.57,39.95,-89.57,0,0,0,NaN,NaN,0.10,10
51191,2007,9,7,2007-09-07 14:43:00,TX,34.57,-102.04,34.55,-102.03,1,0,0,75000.0,NaN,1.50,75
51192,2007,9,7,2007-09-07 15:50:00,TX,34.47,-101.84,34.46,-101.80,0,0,0,NaN,NaN,1.25,75

In [25]:
# Export Cleaned Data to CSV
tornadoes_F.to_csv("Cleaned_Data/1950-2007_tornadoes_F_cleaned.csv")

In [26]:
# Filter for years 2008-2020 --> EF Scale
tornadoes_EF = tornadoes_df_clean[tornadoes_df_clean['Year'] >= 2008]
tornadoes_EF

,Year,Month,Day,Timestamp,State,Start_Lat,Start_Lon,End_Lat,End_Lon,EF,Injuries,Fatalities,Loss,Crop_Loss,Length,Width
surr_key,,,,,,,,,,,,,,,,
51193,2008,10,11,2008-10-11 18:33:00,NM,35.1500,-105.9400,0.0000,0.0000,0,0,0,12000.0,NaN,0.02,10
51194,2008,10,11,2008-10-11 21:54:00,KS,39.3300,-101.5500,0.0000,0.0000,0,0,0,NaN,NaN,0.25,10
51195,2008,10,24,2008-10-24 16:55:00,GA,31.0200,-81.8100,0.0000,0.0000,0,0,0,1000.0,NaN,0.25,25
51196,2008,10,6,2008-10-06 13:46:00,AR,34.5800,-94.1500,34.6300,-94.1200,1,0,0,75000.0,NaN,3.41,250
51197,2008,10,6,2008-10-06 16:05:00,TX,33.0700,-94.1000,33.0900,-94.0800,0,0,0,75000.0,NaN,1.50,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67499,2020,9,1,2020-09-01 16:24:00,TN,36.3290,-89.4981,36.3517,-89.4729,0,0,0,NaN,2000.0,2.10,50
67501,2020,9,3,2020-09-03 15:57:00,MD,38.9480,-76.5695,38.9233,-76.4615,0,0,0,1250000.0,NaN,6.05,100
67502,2020,9,5,2020-09-05 16:17:00,CA,37.3500,-119.3400,37.5218,-119.3056,2,0,0,NaN,NaN,12.02,50
67503,2020,9,5,2020-09-05 18:29:00,CA,37.2500,-119.2000,37.2598,-119.1838,1,0,0,NaN,NaN,1.12,25
67504,2020,9,7,2020-09-07 15:14:00,OH,40.2966,-82.9889,40.2703,-82.9386,0,0,0,25000.0,NaN,3.21,150

In [27]:
# Export Cleaned Data to CSV
tornadoes_EF.to_csv("Cleaned_Data/2008-2020_tornadoes_EF_cleaned.csv")

In [28]:
tornadoes_EF.dtypes

Year                   int64
Month                  int64
Day                    int64
Timestamp     datetime64[ns]
State                 object
Start_Lat            float64
Start_Lon            float64
End_Lat              float64
End_Lon              float64
EF                     int64
Injuries               int64
Fatalities             int64
Loss                 float64
Crop_Loss            float64
Length               float64
Width                  int64
dtype: object