In [5]:
# Import dependencies
import pandas as pd
from path import Path

In [10]:
# Read tornadoes csv into DataFrame
file_path = Path('Raw_Data/1950-2020_torn.csv')
tornadoes_df = pd.read_csv(file_path, index_col=0)
tornadoes_df.head(25)

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
surr_key,,,,,,,,,,,,,,,,,,,,,
1,192,1950,10,1,10/1/1950,21:00:00,3,OK,40,23,...,15.8,10,1,1,1,25,0,0,0,0
2,193,1950,10,9,10/9/1950,2:15:00,3,NC,37,9,...,2.0,880,1,1,1,47,0,0,0,0
3,195,1950,11,20,11/20/1950,2:20:00,3,KY,21,1,...,0.1,10,1,1,1,177,0,0,0,0
4,196,1950,11,20,11/20/1950,4:00:00,3,KY,21,2,...,0.1,10,1,1,1,209,0,0,0,0
5,197,1950,11,20,11/20/1950,7:30:00,3,MS,28,14,...,2.0,37,1,1,1,101,0,0,0,0
6,194,1950,11,4,11/4/1950,17:00:00,3,PA,42,5,...,15.9,100,1,1,1,71,11,0,0,0
7,198,1950,12,2,12/2/1950,15:00:00,3,IL,17,7,...,18.8,50,1,1,1,119,117,0,0,0
8,199,1950,12,2,12/2/1950,16:00:00,3,IL,17,8,...,18.0,200,1,1,1,119,5,0,0,0
9,200,1950,12,2,12/2/1950,16:25:00,3,AR,5,12,...,7.8,10,1,1,1,65,0,0,0,0
10,201,1950,12,2,12/2/1950,17:30:00,3,IL,17,9,...,9.6,50,1,1,1,157,0,0,0,0
11,4,1950,1,13,1/13/1950,5:25:00,3,AR,5,1,...,0.6,17,1,1,1,113,0,0,0,0
12,5,1950,1,25,1/25/1950,19:30:00,3,MO,29,2,...,2.3,300,1,1,1,93,0,0,0,0
13,6,1950,1,25,1/25/1950,21:00:00,3,IL,17,3,...,0.1,100,1,1,1,91,0,0,0,0
14,7,1950,1,26,1/26/1950,18:00:00,3,TX,48,1,...,4.7,133,1,1,1,47,0,0,0,0
15,1,1950,1,3,1/3/1950,11:00:00,3,MO,29,1,...,9.5,150,2,0,1,0,0,0,0,0
16,1,1950,1,3,1/3/1950,11:00:00,3,MO,29,1,...,6.2,150,2,1,2,189,0,0,0,0
17,1,1950,1,3,1/3/1950,11:10:00,3,IL,17,1,...,3.3,100,2,1,2,119,0,0,0,0
18,2,1950,1,3,1/3/1950,11:55:00,3,IL,17,2,...,3.6,130,1,1,1,135,0,0,0,0
19,3,1950,1,3,1/3/1950,16:00:00,3,OH,39,1,...,0.1,10,1,1,1,161,0,0,0,0
20,8,1950,2,11,2/11/1950,13:10:00,3,TX,48,2,...,9.9,400,1,1,1,39,0,0,0,0
21,9,1950,2,11,2/11/1950,13:50:00,3,TX,48,3,...,12.0,1000,1,1,1,201,0,0,0,0
22,10,1950,2,11,2/11/1950,21:00:00,3,TX,48,4,...,4.6,100,1,1,1,423,0,0,0,0
23,11,1950,2,11,2/11/1950,23:55:00,3,TX,48,5,...,4.5,67,1,1,1,67,343,0,0,0
24,12,1950,2,12,2/12/1950,0:30:00,3,TX,48,6,...,8.0,833,1,1,1,37,0,0,0,0
25,13,1950,2,12,2/12/1950,1:15:00,3,TX,48,7,...,2.3,233,1,1,1,143,0,0,0,0

In [11]:
# Review data types for tornadoes dataframe
tornadoes_df.dtypes

om         int64
yr         int64
mo         int64
dy         int64
date      object
time      object
tz         int64
st        object
stf        int64
stn        int64
f          int64
inj        int64
fat        int64
loss     float64
closs    float64
slat     float64
slon     float64
elat     float64
elon     float64
len      float64
wid        int64
ns         int64
sn         int64
sg         int64
f1         int64
f2         int64
f3         int64
f4         int64
fc         int64
dtype: object

In [14]:
# Read hail csv into DataFrame
file_path_2 = Path('Raw_Data/1955-2020_hail.csv')
hail_df = pd.read_csv(file_path_2, index_col=0)
hail_df.head(25)

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,elon,len,wid,ns,sn,sg,f1,f2,f3,f4
surr_key,,,,,,,,,,,,,,,,,,,,,
1,327,1955,10,16,10/16/1955,13:15:00,3,NJ,34,1,...,0.0,0,0,0,0,0,25,0,0,0
2,328,1955,10,23,10/23/1955,18:00:00,3,MI,26,7,...,0.0,0,0,0,0,0,5,0,0,0
3,329,1955,10,28,10/28/1955,6:30:00,3,AR,5,12,...,0.0,0,0,0,0,0,119,0,0,0
4,330,1955,10,28,10/28/1955,16:45:00,3,AL,1,9,...,0.0,0,0,0,0,0,117,0,0,0
5,326,1955,10,6,10/6/1955,12:00:00,3,IL,17,8,...,0.0,0,0,0,0,0,149,0,0,0
6,331,1955,11,13,11/13/1955,16:00:00,3,KY,21,5,...,0.0,0,0,0,0,0,197,0,0,0
7,332,1955,11,13,11/13/1955,19:20:00,3,MI,26,8,...,0.0,0,0,0,0,0,163,0,0,0
8,333,1955,11,15,11/15/1955,15:00:00,3,MO,29,27,...,0.0,0,0,0,0,0,65,0,0,0
9,334,1955,11,15,11/15/1955,16:00:00,3,IL,17,9,...,0.0,0,0,0,0,0,81,0,0,0
10,335,1955,11,15,11/15/1955,16:00:00,3,IL,17,10,...,0.0,0,0,0,0,0,51,0,0,0
11,336,1955,11,15,11/15/1955,16:30:00,3,IL,17,11,...,0.0,0,0,0,0,0,49,0,0,0
12,337,1955,11,15,11/15/1955,16:30:00,3,IL,17,12,...,0.0,0,0,0,0,0,29,0,0,0
13,338,1955,11,15,11/15/1955,16:45:00,3,IL,17,13,...,0.0,0,0,0,0,0,191,0,0,0
14,339,1955,11,15,11/15/1955,17:15:00,3,IL,17,14,...,0.0,0,0,0,0,0,47,0,0,0
15,340,1955,11,15,11/15/1955,17:30:00,3,IL,17,15,...,0.0,0,0,0,0,0,0,0,0,0
16,341,1955,11,15,11/15/1955,17:30:00,3,IL,17,16,...,0.0,0,0,0,0,0,163,0,0,0
17,342,1955,11,15,11/15/1955,18:00:00,3,IN,18,6,...,0.0,0,0,0,0,0,107,0,0,0
18,343,1955,11,15,11/15/1955,20:30:00,3,KY,21,6,...,0.0,0,0,0,0,0,15,0,0,0
19,344,1955,11,15,11/15/1955,23:00:00,3,IN,18,7,...,0.0,0,0,0,0,0,11,0,0,0
20,1,1955,1,17,1/17/1955,16:39:00,3,TX,48,1,...,0.0,0,0,0,0,0,227,0,0,0
21,2,1955,2,1,2/1/1955,10:30:00,3,MO,29,1,...,0.0,0,0,0,0,0,135,0,0,0
22,15,1955,3,11,3/11/1955,1:57:00,3,IN,18,2,...,0.0,0,0,0,0,0,97,0,0,0
23,16,1955,3,12,3/12/1955,1:20:00,3,NC,37,3,...,0.0,0,0,0,0,0,119,0,0,0
24,17,1955,3,12,3/12/1955,16:02:00,3,NC,37,4,...,0.0,0,0,0,0,0,119,0,0,0
25,18,1955,3,12,3/12/1955,19:00:00,3,GA,13,1,...,0.0,0,0,0,0,0,97,0,0,0

In [15]:
# Review data types for hail dataframe - should be the same but double checking
hail_df.dtypes

om         int64
yr         int64
mo         int64
dy         int64
date      object
time      object
tz         int64
st        object
stf        int64
stn        int64
sz       float64
inj        int64
fat        int64
loss     float64
closs    float64
slat     float64
slon     float64
elat     float64
elon     float64
len        int64
wid        int64
ns         int64
sn         int64
sg         int64
f1         int64
f2         int64
f3         int64
f4         int64
dtype: object

In [16]:
# Read wind csv into DataFrame
file_path_3 = Path('Raw_Data/1955-2020_wind.csv')
wind_df = pd.read_csv(file_path_3, index_col=0)
wind_df.head(25)

C:\Users\Doanie\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,mt
surr_key,,,,,,,,,,,,,,,,,,,,,
1,397,1955,10,12,10/12/1955,15:00:00,3,AR,5,24,...,0,0,0,0,0,31,0,0,0,NaN
2,398,1955,10,18,10/18/1955,8:00:00,3,FL,12,9,...,0,0,0,0,0,25,0,0,0,NaN
3,399,1955,10,23,10/23/1955,18:00:00,3,MI,26,9,...,0,0,0,0,0,5,0,0,0,NaN
4,400,1955,10,23,10/23/1955,19:00:00,3,MI,26,10,...,0,0,0,0,0,57,0,0,0,NaN
5,401,1955,10,23,10/23/1955,20:00:00,3,MI,26,11,...,0,0,0,0,0,63,0,0,0,NaN
6,402,1955,10,24,10/24/1955,15:00:00,3,PA,42,9,...,0,0,0,0,0,21,0,0,0,NaN
7,403,1955,10,28,10/28/1955,11:30:00,3,MS,28,7,...,0,0,0,0,0,137,0,0,0,NaN
8,404,1955,10,28,10/28/1955,12:00:00,3,MS,28,8,...,0,0,0,0,0,93,0,0,0,NaN
9,405,1955,10,28,10/28/1955,12:00:00,3,TN,47,11,...,0,0,0,0,0,47,0,0,0,NaN
10,406,1955,10,28,10/28/1955,14:00:00,3,TN,47,12,...,0,0,0,0,0,69,0,0,0,NaN
11,407,1955,10,28,10/28/1955,14:00:00,3,TN,47,13,...,0,0,0,0,0,53,0,0,0,NaN
12,408,1955,10,28,10/28/1955,14:45:00,3,MS,28,9,...,0,0,0,0,0,69,0,0,0,NaN
13,409,1955,10,28,10/28/1955,16:40:00,3,AL,1,13,...,0,0,0,0,0,73,0,0,0,NaN
14,410,1955,10,30,10/30/1955,13:00:00,3,PA,42,10,...,0,0,0,0,0,1,0,0,0,NaN
15,411,1955,10,30,10/30/1955,15:00:00,3,PA,42,11,...,0,0,0,0,0,133,0,0,0,NaN
16,393,1955,10,2,10/2/1955,1:15:00,3,KS,20,32,...,0,0,0,0,0,15,0,0,0,NaN
17,394,1955,10,4,10/4/1955,16:00:00,3,TX,48,72,...,0,0,0,0,0,107,0,0,0,NaN
18,395,1955,10,6,10/6/1955,13:00:00,3,IL,17,15,...,0,0,0,0,0,61,0,0,0,NaN
19,396,1955,10,7,10/7/1955,13:00:00,3,IL,17,16,...,0,0,0,0,0,143,0,0,0,NaN
20,412,1955,11,14,11/14/1955,15:30:00,3,MS,28,10,...,0,0,0,0,0,93,0,0,0,NaN
21,413,1955,11,15,11/15/1955,14:10:00,3,OH,39,15,...,0,0,0,0,0,155,0,0,0,NaN
22,414,1955,11,15,11/15/1955,15:30:00,3,IL,17,17,...,0,0,0,0,0,45,0,0,0,NaN
23,415,1955,11,15,11/15/1955,16:00:00,3,MO,29,16,...,0,0,0,0,0,69,0,0,0,NaN
24,416,1955,11,15,11/15/1955,17:30:00,3,IL,17,18,...,0,0,0,0,0,0,0,0,0,NaN
25,417,1955,11,15,11/15/1955,19:30:00,3,IN,18,11,...,0,0,0,0,0,65,0,0,0,NaN

In [17]:
# Review data types for wind dataframe - should be the same but double checking
wind_df.dtypes

om         int64
yr         int64
mo         int64
dy         int64
date      object
time      object
tz         int64
st        object
stf        int64
stn        int64
mag        int64
inj        int64
fat        int64
loss     float64
closs    float64
slat     float64
slon     float64
elat     float64
elon     float64
len        int64
wid        int64
ns         int64
sn         int64
sg         int64
f1         int64
f2         int64
f3         int64
f4         int64
mt        object
dtype: object